# ── WiFi ──────────────────────────────────────────────────────────────────────
WIFI_SSID=your_ssid
WIFI_PASS=your_password

# ── MQTT broker ───────────────────────────────────────────────────────────────
MQTT_BROKER=broker.hivemq.com
MQTT_PORT=1883

# ── Topics ────────────────────────────────────────────────────────────────────
MQTT_TOPIC_INF=your_prefix/inference
MQTT_TOPIC_STATUS=your_prefix/status
MQTT_TOPIC_CMD=your_prefix/cmd
